{% extends "c9/base.html" %}

{% block title %}About Us{% endblock title %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunal Tanpure - Resume</title>
    <style>
        .ac {
            width: 90%;
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1, h2 {
            color: #4CAF50;
        }
        .contact-info {
            text-align: center;
            margin-bottom: 20px;
        }
        .contact-info p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <div class="ac">
        <div class="contact-info">
            <h1>CEO : Kunal Tanpure</h1>
            <p><strong>Research and Development Engineer</strong></p>
            <p>📞 +91 7498737267 | 📧 kunaltanpured4@gmail.com</p>
            <p><a href="https://github.com/kunal-tanpure25" target="_blank">GitHub</a> ||
                <a href="https://www.linkedin.com/in/kunal-tanpure-7025t/" target="_blank">LinkedIn</a> </p>
        </div>
    </div>
</body>
</html>


{% endblock content %}